<!DOCTYPE html>
<html ng-app="myApp" ng-controller="todoCtrl">

<head>
  <meta charset="utf-8">
  <title>AngularJS ToDo App</title>

  <!-- STYLES -->
  <link rel="stylesheet" href="styles/styles.css" />
</head>
<base href="/" />

<body>

<!-- ANGULARJS PART I LECTURE -->
  <ui-view></ui-view>

  <div class="container">
    <h1 class="title">ToDo App Project</h1>
    <div>
      <a href="/">Home</a>
      <a href="/about">About</a>
    </div>
    <hr />
  </div>

  <!-- TODO List -->
  <h3 class="list">John's To Do List</h3>
  <form ng-submit="todoAdd()">
    <input class="entry" type="text" ng-model="todoInput" size="25" placeholder="New Item" />
    <input class="add" type="submit" value="Add Item" />
  </form>

  <br />
  <em>(Click box to mark item complete)</em>

  <div ng-repeat="x in todoList">
    <input type="checkbox" ng-model="x.done" /><span>{{x.todoText}}</span>
  </div>

  <p><button class="remove" ng-click="remove()">Remove Checked Items</button></p>
  <hr />

  <!-- APP SCRIPTS -->
  <script src="bower_components/angular/angular.min.js" charset="utf-8"></script>
  <script src="bower_components/angular-ui-router/release/angular-ui-router.min.js" charset="utf-8"></script>
  <script src="bower_components/angular-local-storage/dist/angular-local-storage.min.js" charset="utf-8"></script>
  <script src="app.js" charset="utf-8"></script>
  <script src="services/userServices.js" charset="utf-8"></script>
  <script src="contollers/homeController.js" charset="utf-8"></script>
  <script src="contollers/aboutController.js" charset="utf-8"></script>

</body>

</html>
