.list {
  color       : blue;
  font-family : Trebuchet MS;
}

.add {
  border-radius : 5px;
}

.remove {
  color            : yellow;
  border-color     : black;
  border-width     : 2px;
  border-radius    : 5px;
  background-color : purple;
  font-weight      : 100;
}

.entry {
  background-color : #ccddff;
}

.complete {
  color            : white;
  background-color : black;
}

.title {
  font-family : Trebuchet MS;
}
